<h1><%= @quest.title %></h1>
<div class="panel">
  <%= @quest.description %><br />
  <p>Quest begins: <%= @quest.start_date %> | Quest ends: <%= @quest.end_date %></p>
  <p>List of quest members that links to their profiles</p>
</div>
