body {
  background-image: image-url("landscape1.jpg");
}

h1 {
  font-weight: bold;
}

#front-text-1 {
  font-size: 24pt;
  line-height: 24pt;
  margin-top: 24px;
  text-align: right;
}

#front-text-2 {
  font-size: 36pt;
  font-weight: bold;
  line-height: 36pt;
  text-align: right;
}

#front-text-3 {
  font-size: 48pt;
  font-weight: bolder;
  line-height: 48pt;
  text-align: right;
}
