$junk-color: #6e6e6e;
$heirloom-color: #04b404;
$antiquity-color: #08298a;
$relic-color: #ff8000;
$find-panel-bg: #d8d8d8;
$find-panel-border: #a4a4a4;
$equip-panel-color: #333333;

body {
  background-image: image-url("landscape1.jpg");
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-weight: bold;
}

#front-text-1 {
  font-size: 24pt;
  line-height: 24pt;
  margin-top: 24px;
  text-align: right;
}

#front-text-2 {
  font-size: 36pt;
  font-weight: bold;
  line-height: 36pt;
  text-align: right;
}

#front-text-3 {
  font-size: 48pt;
  font-weight: bolder;
  line-height: 48pt;
  text-align: right;
}

#key {
  margin-left: 20px;
  margin-right: 20px;
}

th .asc:after {
  content: "  ⬆️";
}

th .desc:after {
  content: "  ⬇️";
}

#ordinary {
  color: $junk-color;
}

#heirloom {
  color: $heirloom-color;
}

#antiquity {
  color: $antiquity-color;
}

#relic {
  color: $relic-color;
}

.find-panel {
  background-color: $find-panel-bg;
  border-color: $find-panel-border;
  border-style: solid;
  border-width: 1px;
  font-size: 0.8em;
  margin-top: -1px;
  padding: 10px;
}

#equip {
  background-color: $equip-panel-color;
}

#equipped {
  height: 474px;
}
