$junk_color: #6e6e6e;
$heirloom_color: #04b404;
$antiquity_color: #08298a;
$relic_color: #ff8000;

body {
  background-image: image-url("landscape1.jpg");
  background-attachment: fixed;
}

h1 {
  font-weight: bold;
}

#front-text-1 {
  font-size: 24pt;
  line-height: 24pt;
  margin-top: 24px;
  text-align: right;
}

#front-text-2 {
  font-size: 36pt;
  font-weight: bold;
  line-height: 36pt;
  text-align: right;
}

#front-text-3 {
  font-size: 48pt;
  font-weight: bolder;
  line-height: 48pt;
  text-align: right;
}

#key {
  margin-left: 20px;
  margin-right: 20px;
}

th .asc:after {
  content: "  ⬆️";
}

th .desc:after {
  content: "  ⬇️";
}

#ordinary {
  color: $junk_color;
}

#heirloom {
  color: $heirloom_color;
}

#antiquity {
  color: $antiquity_color;
}

#relic {
  color: $relic_color;
}
